#wholegame {
    padding-top: %5
}

#gametext {
    padding-top: 5%
}

#gametitle {
    font-size: 60px;
    color: rgb(135, 53, 173);
    text-align: center;
    line-height: 1.8;
    text-shadow: 2px 1px rgb(26, 25, 25);
    padding-top: 20px;
}
#instructionsheader {
    font-size: 25px;
    color: rgb(123, 123, 207);
    text-align: center;
}


#gameinfo {
    font-size: 18px;
    color: rgb(76, 76, 145);
    text-align: center;
    padding-top: 15px;
    padding-right: 50px;
    padding-bottom: 25px;
    padding-left: 50px;
}

#targetnumber{
    color: rgb(123, 123, 207);
}

#compileuserguesses{
    color: rgb(123, 123, 207);
}

#wincounter{
    color: rgb(123, 123, 207);
}

#losscounter{
    color: rgb(123, 123, 207);
}


#resetbutton{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 20px;
}

